/* About Me */

/* Information Texts */

.resume-text {
  font-size: 0.95rem;
  text-align: justify;
}

/* Skills List Container */

.info-block {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}

.glass-stack { 
  display: flex; 
  flex-wrap: wrap; 
  gap: 40px; 
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.glass-skill-wrapper {
  position: relative;
  width: 14rem;
}

.glass-card-main {
  background: rgba(74, 62, 62, 15%);
  border: none; 
  border-radius: 10px;
  padding: 0 20px;
  position: relative;
  transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  width: 14rem;
  height: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

[data-theme='light'] .glass-card-main {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
}

.glass-icon-container {
  width: 52px;
  height: 52px;
  background: var(--redGlassEffect);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  margin-right: 20px;
}

[data-theme='light'] .glass-icon-container {
  background: var(--redMainColor);
  opacity: 0.8;
}

.glass-icon-container i {
  color: var(--fontColor);
  font-size: 1.7rem;
}

[data-theme='light'] .glass-icon-container i {
  color: var(--whiteFontColor);
}

.glass-skill-name {
  font-size: 1.4rem;
  margin: 0;
  color: var(--fontColor);
  text-align: left;
  display: flex;
  font-family: "Zain", serif;
  margin-top: -5px;
}

.glass-card-main::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 0;
  background: var(--redMainColor);
  transition: height 0.5s ease;
}

/* Experience Tag */

.glass-experience-tag {
  position: absolute;
  top: -12px;
  right: 10px;
  background: rgba(15, 15, 15, 0.95);
  backdrop-filter: blur(12px);
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 5;
  transition: all 0.3s ease;
}

.pulse-dot {
  width: 6px;
  height: 6px;
  background: var(--redMainColor);
  border-radius: 50%;
}

[data-theme='light'] .glass-experience-tag {
  background: var(--redMainColor);
  color: rgba(255, 255, 255, 0.8);
}

[data-theme='light'] .pulse-dot {
  background: rgba(255, 255, 255, 0.8);
}

/* Hover */

.glass-skill-wrapper:hover .pulse-dot {
  box-shadow: 0 0 10px #c32c42;
}

.glass-skill-wrapper:hover .glass-icon-container {
  background: var(--redMainColor);
}

[data-theme='light'] .glass-skill-wrapper:hover .glass-icon-container {
  opacity: 1;
}

.glass-skill-wrapper:hover .glass-card-main::after {
  height: 40px;
}

.glass-skill-wrapper:hover .glass-card-main {
  background: var(--darkRedGlassEffect);
}

[data-theme='light'] .glass-skill-wrapper:hover .glass-card-main {
  background: rgba(250, 209, 209, 0.897);
}
