/* Home Page */

.home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 10rem 4rem;
  gap: 20px;
}

/* Left Text Block */

.welcome-text {
  color: var(--redMainColor);
  font-size: 0.8rem !important;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  line-height: 2.7rem;
}

/* Introduction Typing Text */

.typing-header {
  color: var(--fontColor);
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin: 0;
  display: inline;
  word-break: break-word;
  line-height: 1.2;
}

.blinking-cursor {
  color: var(--redMainColor);
  font-weight: bold;
  margin-left: 4px;
  animation: blink 0.8s step-end infinite;
}

.text-highlight {
  color: var(--redMainColor);
}

/* Resume Text */

.text-block p {
  margin: 10px 0;
  line-height: normal;
  font-size: 16px;
}

.text-block .resume-text {
  color: #878585;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: start;
}

/* Socials Icons */

.home-page .socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.home-page .social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--redMainColor);
  text-decoration: none;
  font-size: 24px;
  transition: opacity 0.3s ease;
  margin: 0px;
  opacity: 0.7;
}

.home-page .social-link img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.home-page .social-link:hover {
  opacity: 1;
}

/* Right Picture Block */

.picture-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picture-frame {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}

.home-page .picture-frame::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  border-top-left-radius: 90%;
  z-index: 0;
  border-top: 1px solid var(--redMainColor);
  border-left: 1px solid var(--redMainColor);
}

.home-page .picture-frame::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 16vh;
  left: 7.3vw;
  border-bottom-right-radius: 90%;
  z-index: 0;
  border-bottom: 1px solid var(--redMainColor);
  border-right: 1px solid var(--redMainColor);
}

.picture-frame img {
  width: 200px;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 1;
}

/* Responsiveness */

@media (max-width: 768px) {
  .picture-block {
    display: none;
  }
}

/* Typing Effect */

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}