:root {
    --bg-dark-bordo: #3B0D24;
    --text-light: #EEDBE6;
    --accent-magic: #D6B0E0;
    --gold-old: #C9A86A;
  }

/* Home Page - Info Block */

.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 10rem 5rem;
    gap: 20px;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    line-height: 2.7rem;
}

.text-block h1 {
    color: #cbb6b3;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
}

.text-block h1 .name {
    color: #ad1f21;
}  

.text-block h2 {
    font-family: "Zain", serif;
    font-size: 16px;
}

.text-block p {
    line-height: normal;
    font-size: 16px;
    color: #cbb6b3;
}

.picture-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.picture-frame {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 50%
}

.picture-frame::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    border-top-left-radius: 90%;
    z-index: 0;
    border-top: 1px solid #ad1f21;
    border-left: 1px solid #ad1f21;
}

.picture-frame::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 16vh;
    left: 7.3vw;
    border-bottom-right-radius: 90%;
    z-index: 0;
    border-bottom: 1px solid #ad1f21;
    border-right: 1px solid #ad1f21;
}

.picture-frame img {
    width: 200px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 1;
}

.picture-frame .cherry-icon {
    position: absolute;
    bottom: -5px;
    right: -13px;
    width: 50px;
    height: auto;
    z-index: 2;
}

.section-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Zain", sans-serif;
    font-size: 16px;
    color: var(--redMainColor);
    opacity: 0.8;
    gap: 10px;
    font-weight: bold;
}

@media (max-width: 768px) {
  .picture-block {
        display: none;
  }
}
