:root {
  --redMainColor: #ad1f21;
  --darkRedColor: #780313;
  --blackFontColor: #0f0002;
  --backgroundColor: #ede9e7;
  --darkestRedColor: #0f0909;
  --lightWhite: rgb(254, 242, 244);
  --white: rgb(254, 232, 235);
  --veryLightPink: #FCD8DE;
  --lightPink: #FEC4D2;
  --pink: #FEB7C3;
  --darkPink: #d84e65;
  --veryDarkPink: #972c3e;
  --pinkFontColor: #0d0103;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam", sans-serif;
  color: var(--pink);
  overflow-x: hidden;
  background-color: var(--white);
}

html {
  scroll-padding-top: 6rem; 
  scroll-behavior: smooth;
}

/* About Me Page */

.about-me-section,
.education-section,
.experiences-section {
  margin: 3rem 0;
  padding: 0 5rem;
  max-height: 100%;
}

.section-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 0px !important;
  font-family: "Zain", serif;
  color: var(--darkPink);
}

/* Nav Circles (Not used anymore) */

.nav-indicator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 30px;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1000;
  align-items: center;
}

