:root {
  --redMainColor: #be1a32;
  --darkRedColor: #780313;
  --blackFontColor: #0f0002;
  --backgroundColor: #ede9e7;
  --darkestRedColor: #0f0909;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam", sans-serif;
  color: #cbb6b3;
  overflow-x: hidden;
  background-color: var(--darkestRedColor);
}

html {
  scroll-padding-top: 6rem; 
  scroll-behavior: smooth;
}

/* About Me Page */

.about-me-section,
.education-section,
.experiences-section {
  margin: 3rem 0;
  padding: 0 5rem;
  max-height: 100%;
}

.section-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Zain", serif;
  color: var(--redMainColor);
}

/* Job Experiences Timeline */

.timeline {
  position: relative;
  padding-left: 30px;
}

.timeline li {
  list-style-type: none;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--redMainColor);
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-dot {
  position: absolute;
  left: -28.5px;
  top: 10px;
  width: 14px;
  height: 14px;
  background-color: var(--redMainColor);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px var(--redMainColor);
}

.timeline-content {
  padding-left: 10px;
}

.timeline-title {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--blackFontColor);
  font-family: "Zain", serif;
}

.timeline-description {
  font-size: 16px;
  color: #666;
  max-width: 90%;
  text-align: justify;
}

/* Nav Circles (Not used anymore) */

.nav-indicator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 30px;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1000;
  align-items: center;
}

