# Node modules
node_modules/

# Vite cache
.vite/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env.local
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode settings (opcional)
.vscode/

# IDEs
.idea/
*.sw?

# Optional: ignore system files
*.log
*.tmp
*.bak
